body {
    color: #f4f4f4;
    font-family: Inter,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('fundo_alura.jpg');
    background-size: cover; /* Para cobrir todo o fundo */
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
}


.containerGeral {
    max-width: 800px;
}

.botaoCalcular {
    margin: 20px auto;
    display: block;
}

header {
    color: #fff; /* Cor do texto branco */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

/* Adicionando classes para personalização */
.botaoPrincipal {
    /* Estilos para botões principais */
}

.botaoSecundario {
    /* Estilos para botões secundários */
}

.botaoCalcular {
    /* Estilos específicos para botões de calcular */
}

.inputData {
    /* Estilos para inputs de data */
}

.resultado {
    /* Estilos para elementos que mostram os resultados */
}

.mensagemErro {
    /* Estilos para mensagens de erro */
}

.tituloQuadrimestre {
    /* Estilos para títulos de quadrimestre */
}

.infoQuadrimestre {
    /* Estilos para informações de quadrimestre */
}

.labelData {
    /* Estilos para labels de data */
}

.containerQuadrimestre {
    /* Estilos para containers de quadrimestre */
}

.containerGeral {
    /* Estilos para container geral */
}

.seletorQuadrimestre {
    /* Estilos para seletor de quadrimestre */
}

.logo {
    position: absolute; /* Define a posição absoluta */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    margin-right: 20px; /* Adiciona uma margem à direita para separar do título */
    width: 200px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
}


