

body {
    color: #f4f4f4;
    font-family: 'Arial Rounded MT Bold', sans-serif; /* Fonte mais arredondada e grossa */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('fundo_alura.jpg');
    background-size: cover; /* Para cobrir todo o fundo */
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
}


.containerGeral {
    max-width: 800px;
}

header {
    color: #fff; /* Cor do texto branco */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

/* Adicionando classes para personalização */
.botaoPrincipal {
    /* Estilos para botões principais */
}

.botaoSecundario {
    /* Estilos para botões secundários */
}

.botaoCalcular {
    margin: 20px auto;
    display: block;
    background-color: #A3FFBF; /* Cor de fundo verde */
    color: #00117f; /* Cor do texto branca */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    padding: 10px 90px; /* Espaçamento interno aumentado horizontalmente */
    text-decoration: none; /* Remove sublinhado */
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    font-size: 11px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    border-radius: 50px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
}


.inputData {
    color: rgb(0, 24, 75); /* Texto branco para contrastar */
    background-color: #ffffffde; /* Cor de fundo verde */
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    padding: 5px 40px; /* Espaçamento interno aumentado horizontalmente */
    font-size: 16px;
}

.resultado {
    color: rgba(246, 254, 0, 0.828); /* Texto branco para contrastar */
}

.mensagemErro {
    color: rgb(255, 105, 105); /* Texto branco para contrastar */
}

.tituloQuadrimestre {
    /* Estilos para títulos de quadrimestre */
}

.infoQuadrimestre {
    /* Estilos para informações de quadrimestre */
}

.labelData {
    /* Estilos para labels de data */
}

.containerQuadrimestre {
    /* Estilos para containers de quadrimestre */
}

.containerGeral {
    /* Estilos para container geral */
}

.seletorQuadrimestre {
    margin: 1px auto;
    display: block;
    color: rgb(0, 24, 75); /* Texto branco para contrastar */
    background-color: #ffffffde; /* Cor de fundo verde */
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    padding: 10px 90px; /* Espaçamento interno aumentado horizontalmente */
    font-size: 16px;
}

.logo {
    position: absolute; /* Define a posição absoluta */
    top: 0; /* Alinha ao topo */
    right: 0; /* Alinha à esquerda */
    margin-right: 20px; /* Adiciona uma margem à direita para separar do título */
    width: 200px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
}

.mensagemInferior a[href="https://cursos.alura.com.br/user/"] {
    color: white; /* Define a cor do texto do link como branco */
}

..tituloPrincipal {
    font-weight: bold;
    font-family: 'Arial Rounded MT Bold', sans-serif; /* Fonte mais arredondada e grossa */
}

.containerTexto {
    border: 1px solid #00b7ff; /* Cor e espessura da borda */
    padding: 10px; /* Espaçamento interno para o conteúdo */
    margin-bottom: 20px; /* Espaçamento inferior para separar do próximo elemento */
    border-radius: 10px; /* Bordas arredondadas */
    background-image: linear-gradient(to bottom, rgba(0, 24, 75, 0.336), rgba(0, 75, 166, 0.212), rgb(0, 24, 75, 0.336)); /* Degradê com múltiplos pontos focais */
}

